
@use "dockview/dist/styles/dockview" as *;

.dockview-theme-abyss {
    --dv-group-view-background-color: var(--card);
    --dv-tabs-and-actions-container-background-color: var(--sidebar);
    --dv-activegroup-visiblepanel-tab-background-color: var(--card);
    --dv-activegroup-hiddenpanel-tab-background-color: var(--sidebar-accent);
    --dv-inactivegroup-visiblepanel-tab-background-color: var(--card);
    --dv-inactivegroup-hiddenpanel-tab-background-color: var(--sidebar);
    --dv-tab-divider-color: var(--sidebar-border);

    --dv-activegroup-visiblepanel-tab-color: var(--foreground);
    --dv-activegroup-hiddenpanel-tab-color: var(--muted-foreground);
    --dv-inactivegroup-visiblepanel-tab-color: var(--muted-foreground);
    --dv-inactivegroup-hiddenpanel-tab-color: var(--muted-foreground);

    --dv-separator-border: var(--border);
    --dv-paneview-header-border-color: var(--border);
    --dv-sash-color: var(--sidebar-ring);
    --dv-active-sash-color: var(--ring);
    --dv-floating-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
}


// .dockview-theme-abyss {
//   --dv-paneview-active-outline-color: dodgerblue;
//   --dv-tabs-and-actions-container-font-size: 13px;
//   --dv-tabs-and-actions-container-height: 35px;
//   --dv-drag-over-background-color: rgba(83, 89, 93, 0.5);
//   --dv-drag-over-border-color: transparent;
//   --dv-tabs-container-scrollbar-color: #888;
//   --dv-icon-hover-background-color: rgba(90, 93, 94, 0.31);
//   --dv-floating-box-shadow: 8px 8px 8px 0px rgba(83, 89, 93, 0.5);
//   --dv-overlay-z-index: 999;
//   --dv-tab-font-size: inherit;
//   --dv-border-radius: 0px;
//   --dv-tab-margin: 0;
//   --dv-sash-color: transparent;
//   --dv-active-sash-color: transparent;
//   --dv-active-sash-transition-duration: 0.1s;
//   --dv-active-sash-transition-delay: 0.5s;
//   --dv-color-abyss-dark: #000c18;
//   --dv-color-abyss: #10192c;
//   --dv-color-abyss-light: #1c1c2a;
//   --dv-color-abyss-lighter: #2b2b4a;
//   --dv-color-abyss-accent: rgb(91, 30, 207);
//   --dv-color-abyss-primary-text: white;
//   --dv-color-abyss-secondary-text: rgb(148, 151, 169);
//   --dv-group-view-background-color: var(--dv-color-abyss-dark);
//   --dv-tabs-and-actions-container-background-color: var(
//       --dv-color-abyss-light
//   );
//   --dv-activegroup-visiblepanel-tab-background-color: var(
//       --dv-color-abyss-dark
//   );
//   --dv-activegroup-hiddenpanel-tab-background-color: var(--dv-color-abyss);
//   --dv-inactivegroup-visiblepanel-tab-background-color: var(
//       --dv-color-abyss-dark
//   );
//   --dv-inactivegroup-hiddenpanel-tab-background-color: var(--dv-color-abyss);
//   --dv-tab-divider-color: var(--dv-color-abyss-lighter);
//   --dv-activegroup-visiblepanel-tab-color: white;
//   --dv-activegroup-hiddenpanel-tab-color: rgba(255, 255, 255, 0.5);
//   --dv-inactivegroup-visiblepanel-tab-color: rgba(255, 255, 255, 0.5);
//   --dv-inactivegroup-hiddenpanel-tab-color: rgba(255, 255, 255, 0.25);
//   --dv-separator-border: var(--dv-color-abyss-lighter);
//   --dv-paneview-header-border-color: var(--dv-color-abyss-lighter);
//   --dv-paneview-active-outline-color: #596f99;
// }